{% extends 'base.html' %} 
{% load i18n %}
{% block title %} {% trans "400 Bad Request" %} {% endblock %} 

{% block content %}

<div>
    <h1>400</h1>
    <p>{% trans "Bad Request" %}</p>
    <a href="/">{% trans "Visit Homepage" %}</a>
</div>

{% endblock %}
