{% extends 'base.html' %} 
{% load i18n %}
{% block title %} {% trans "403 Permission Denied" %} {% endblock %} 

{% block content %}

<div>
    <h1>403</h1>
    <p>{% trans "Permission Denied" %}</p>
    <a href="/">{% trans "Visit Homepage" %}</a>
</div>

{% endblock %}
