{% extends 'base.html' %} 
{% load i18n %}
{% block title %} {% trans "404 Page not found" %} {% endblock %} 

{% block content %}

<div>
    <h1>404</h1>
    <p>{% trans "Page not found" %}</p>
    <a href="/">{% trans "Visit Homepage" %}</a>
</div>

{% endblock %}