{% extends 'base.html' %} 
{% load i18n %}
{% block title %} {% trans "500 Server Error" %} {% endblock %} 

{% block content %}

<div>
    <h1>500</h1>
    <p>{% trans "Server Error" %}</p>
    <a href="/">{% trans "Visit Homepage" %}</a>
</div>

{% endblock %}
