{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "Home Page" %} {% endblock  %}

{% block content %}

    <div>
        <h1>{% trans "Hello World" %}</h1>
    </div>
    
{% endblock  %}