{% extends 'base.html' %}
{% load i18n %}
{% block title %} {% trans "My Profile" %} {% endblock  %}

{% block content %}
    <!-- TODO: Create your Profile Page -->
    <div>
        <h1>{% trans "My Profile Page" %}</h1>
    </div>
    
{% endblock  %}