<!DOCTYPE html>
<html lang="sk">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="description" content="" />
        <meta name="author" content="" />

        {% load i18n %} 
        {% load static %}

        <!-- Load Custom CSS File -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block content %}
            <!-- Generate content from templates in this block content -->
        {% endblock %}
    </body>

    <!-- Load Custom JS File -->
    <script src="{% static 'js/functions.css' %}"></script>
</html>
